@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html {
    background-color: #FCFFF5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
* {
    font-weight: lighter;
    color: #FCFFF5;
}
h1 {
    color: #193441;
    text-align: center;
    text-shadow: 2px 2px 5px #8b8b8b;
    font-size: 100px;
    font-variant: small-caps;
    margin-top: 50px;
}
.mainthing {
    display: grid;
    grid-template-columns: 25% 70%;
    justify-content: space-evenly;
}
.enter-data {
    grid-column: 1;

}
.showing-data {
    background-color: #193441;
    grid-column: 2;
    padding: 30px;
    display: grid;
    grid-template-rows: 50% 50%;
    align-items: space-between;
    border-radius: 30px;
}
.budget{
    grid-row: 1;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    align-items: space-between;
    justify-content: space-evenly;
}
.budget1 {
    grid-column: 1;
}
.expenses1 {
    grid-column: 2;
}
.balance1 {
    grid-column: 3;
}
.showing-data h3{
    text-align: center;
    color: #FCFFF5;
}

.showing-data input {
    width: 100%;
    justify-content: center;
}
.budget-button {
    background: #FCFFF5;
    border: #FCFFF5 solid 1px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-variant: small-caps;
    border-radius: 30px;
    width: 100%;
    color: #3E606F;
}
.budget-button:hover {
    box-shadow:  2px 2px 5px #8b8b8b;;
}
.enter-data input{
    width: 100%;

}
.enter-expense {
    margin-top: 50px;
    background-color: #3E606F;
    padding: 30px;
    border-radius: 50px;
}
.enter-budget {
    background-color: #3E606F;
    padding: 30px;
    border-radius: 50px;

}